<!-- ======= Header ======= -->
<app-admin-header></app-admin-header>

<!-- ======= Sidebar ======= -->
<app-admin-sidebar></app-admin-sidebar>

<main id="main" class="main">
  <router-outlet></router-outlet>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>متجر الكتروني</span></strong>. جميع الحقوق محفوظة
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
